.card {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
  }
  
  .title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .date,
  .address {
    font-size: 16px;
    color: #555;
  }